.controls {
    width:290px;
    height:260px;
    position: absolute;
    border: 3px solid #AAF0D1;
    border-radius: 3px;
    top:65%;
    left:15px;
}



.loader {
    position: absolute;
    top:10%;
    left: 20px;
    width: 80px;
    height: 122px;
    border: 5px solid #f1f1f1;
    border-radius: 8px;
    float:left;
}

.loader:before {
  content:"";
  width:30px;
  height: 15px;
  background-color:#f1f1f1;
  margin-top:-15px;
  margin-left: 25px;
  border: 0px solid #f1f1f1;
  position:absolute;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.perc {
  border-radius: 2px;
  border:1px solid rgba(200,200,200,0.3);
  float:left;
  margin-top: 2px;
  width:90%;
  height:16px;
  margin-left:3px;
}



.red0 {
    visibility: visible;
  background-color:#ed1b1e;
}

.red1 {
    visibility: visible;
  background-color:#eb6726;
}

.red2 {
    visibility: visible;
  background-color:#f1a51e;
}

.green0 {
    visibility: visible;
  background-color:#fec93b;
}

.green1 {
    visibility: visible;
  background-color:#c1c554;
}

.green2 {
    visibility: visible;
  background-color:#97c03c;
}
.controls .batteryStats div{
    font-family:'Open Sans', sans-serif;
    color:#f7e1be;
    font-size:0.7em;
    text-transform: uppercase;
    text-align : center;
    line-height:1.5;
    letter-spacing: 1px;
}
#energy{
  position:absolute;
  float:left;
  margin-top:40px;
  margin-left:115px;
}
#capacity{
  position:absolute;
  margin-top:60px;
  margin-left:115px;
}
#windspeed{
  position:absolute;
  margin-top:170px;
  margin-left:25px;
}
#winddir{
  position:absolute;
  margin-top:190px;
  margin-left:25px;
}
#electro{
  position:absolute;
  margin-top:80px;
  margin-left:115px;
}
#usage{
  position:absolute;
  margin-top:100px;
  margin-left:115px;
}
