body { margin: 0; }
			canvas { width: 100%; height: 100% }
            @import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

            #world{
                position: absolute;
                width:100%;
                height: 100%;
                background: #cefaeb;
            overflow:hidden;
            }

            #credits{
            position:absolute;
            width:100%;
            margin: auto;
            bottom:0;
            margin-bottom:20px;
            font-family:'Open Sans', sans-serif;
            color:#f7e1be;
            font-size:0.7em;
            text-transform: uppercase;
            text-align : center;
            line-height:1.5;
            letter-spacing: 2px;
            }
            #credits div a{
                text-decoration: none;
                color:  #dbc081;

            }
            #credits div a:hover{
                color:  #e5f442;

            }

            #credits div {
            color:#dbf4e8;
            }

           
            #err {
            position: absolute;
            top: 25px;
            font-family:'Open Sans', sans-serif;
            left: 250px;
            color:#f99339;
            text-transform: uppercase;
            text-align : center;
            line-height:1.5;
            letter-spacing: 2px;
            z-index: 100;
            }
            #energy {
                    float:left;
            }